<div class="x_panel">
	<div class="row x_title">
		<div class="col-md-4 col-sm-4">
			<h3>Loans <small>List of loans</small></h3>
		</div>
		<div class="col-md-2 col-sm-2 pull-right" style="padding-top: 10px;">
			<button type="button" class="btn btn-default btn-primary" ng-click="OpenNewLoanModal('lg')"><i class="fa fa-user-plus"></i> Add loan</button>
		</div>
		<div class="col-md-3 col-sm-3 pull-right" style="padding-top: 10px;">
			<input type="text" placeholder="Search customer name" class="form-control" ng-model="customer_to_search" ng-change="ComputeFilteredData(loans, customer_to_search)"/>
		</div>
		<i class="fa fa-search fa-2x pull-right" style="padding-top: 14px;"></i>
	</div>  

	<div class="alert alert-danger" ng-show="error_flag">
		<ul class="list-unstyled">
			<li ng-repeat="error_msg in errors">{{error_msg}}</li>
		</ul>
	</div>

	<!--- modal -->
	<script type="text/ng-template" id="NewLoanModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add new loan</h3>
        </div>
        <div class="modal-body form-horizontal">        
        	<div class="alert alert-danger" ng-show="error_flag">
        		<ul class="list-unstyled">
        			<li ng-repeat="error_msg in errors">{{error_msg}}</li>
        		</ul>
        	</div>
        	<div class="form-group">        		
        		<label class="col-sm-2 control-label"> Loan date</label>
        		<div class="col-sm-3">
        			<input type="text" class="form-control" date-picker ng-model="new_loan_date"/>
        			<span class="help-block">YYYY-mm-dd (2016-12-22)</span>
        		</div>
        	</div>
        	<div class="form-group">
        		<label class="col-sm-2 control-label"> Loan title</label>
        		<div class="col-sm-3">
        			<input type="text" ng-model="new_loan_title" class="form-control"/>
        		</div>
        	</div>
        	<div class="form-group">
        		<label class="col-sm-2 control-label"> Customer</label>
        		<div class="col-sm-3">
        			<select class="form-control" ng-model="new_loan_customer" data-ng-options="customer.customers_name for customer in customers" ng-change="ChangedCustomer(new_loan_customer)"></select>
        		</div>
        	</div>
        	<div class="form-group">
        		<label class="col-sm-2 control-label"> Loan amount</label>
        		<div class="col-sm-2">
        			<input min="0" step="0.01" value="0.00" class="form-control" ng-model="new_loan_amount" p-format value="0.00"/>
        		</div>
        		<label class="col-sm-3 control-label"> Loan interest</label>        		
        		<div class="col-sm-1">
        			<input min="0" step="0.01" value="0.00" ng-model="new_loan_interest" p-format class="form-control"/>
        		</div> <label class="h4">%</label>
        	</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" style="margin-bottom: 0px;">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <!--- modal -->

    <div class="row form-horizontal">
        <label class="col-sm-1 control-label">Start date</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" date-picker ng-model="start_date"/>
        </div>
        <label class="col-sm-1 control-label">End date</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" date-picker ng-model="end_date"/>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default" type="button" ng-click="SearchWithDate()"><i class="fa fa-search"></i> Search</button>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12 col-sm-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-sm-1">Loan date</th>
						<th class="col-sm-2">Loan title</th>
						<th class="col-sm-2">Customer name</th>
						<th class="col-sm-1">Amount</th>
						<th class="col-sm-1">Interest</th>
                        <th class="col-sm-2"># of payments</th>
                        <th class="col-sm-2">Total payed amount</th>
						<th class="col-sm-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="loans_flag"><td class="text-center" colspan="7">Nothing to display.</td></tr>
                    <tr ng-repeat="loan in loans | filter:customer_to_search">
                        <td>
                            <a href="#" editable-bsdate="loans[$index].loans_date" e-is-open="opened.$data" e-ng-click="open($event, '$data')" e-datepicker-popup="yyyy-MM-dd" onbeforesave="UpdateLoan('loans_date', $data, loan.loans_id, $index)">
                                {{loan.loans_date | date:'yyyy-MM-dd'}}
                            </a>
                        </td>
                        <td>
                            <a href="#" editable-text="loans[$index].loans_title" onbeforesave="UpdateLoan('loans_title', $data, loan.loans_id, $index)">
                                {{loan.loans_title || '-'}}
                            </a>
                        </td>
                        <td>
                            <a href="#" editable-select="loans[$index].customers_id" onbeforesave="UpdateLoan('customers_id', $data, loan.loans_id, $index)" e-ng-options="customer.customers_name for customer in customers">
                                {{loan.customers_name || '-'}}
                            </a>
                        </td>
                        <td>
                            <a href="#" editable-text="loans[$index].loans_amount" onbeforesave="UpdateLoan('loans_amount', $data, loan.loans_id, $index)">
                                {{loan.loans_amount || '-'}}
                            </a>
                        </td>
                        <td>
                            <a href="#" editable-text="loans[$index].loans_interest" onbeforesave="UpdateLoan('loans_interest', $data, loan.loans_id, $index)">
                                {{loan.loans_interest || '-'}}
                            </a>
                             %
                        </td>
                        <td>
                            {{loan.num_of_transactions}}
                        </td>
                        <td>
                            {{loan.total_payed_amount | number:2}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="DeleteLoan($index)"><span class="fa fa-remove"></span> Delete loan</button>
                        </td>
                    </tr>
                    <tr class="form-horizontal">
                        <td colspan="3">
                            <label class="col-sm-12 control-label" style="padding-top: 0px;">Total:</label>
                        </td>
                        <td><strong>{{total_loan_amount | number:2}}</strong></td>
                        <td colspan="2">
                            <label class="col-sm-12 control-label" style="padding-top: 0px;">Total:</label>
                        </td>
                        <td colspan="2"><strong>{{total_payed_amount | number:2}}</strong></td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>